<%= provide(:title, full_title("Product Grid Sidebar Left")) %>

<!-- TITLE LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <%= render 'light_section' %>
</section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'product_sidebar' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'product_main' %>
      </div>
    </div>
  </div>
</section>

<!-- BRAND LIGHT SECTION -->
<section class="lightSection clearfix">
  <%= render 'shared/brand_logo' %>
</section>
