<%= provide(:title, full_title(@taxon.name)) %>

<!-- TITLE LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <%= render 'light_section', taxon: @taxon %>
</section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'product_sidebar', taxonomies: @taxonomies %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'product_main', products: @products %>
      </div>
    </div>
  </div>
</section>

<!-- BRAND LIGHT SECTION -->
<section class="lightSection clearfix">
  <%= render 'shared/brand_logo' %>
</section>
