<% if product.has_variants? %>
  <span class="quick-drop">
    <%= select :guiest, :id3, options_text(product), {}, class: "select-drop" %>
  </span>
<% end %>
<span class="quick-drop resizeWidth">
  <%= select :guiest, :id4, quantities(product), {}, class: "select-drop" %>
</span>
<div class="btn-area">
  <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>
