<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% images.each_with_index do |image, index| %>
      <div class="item <%= "active" if index.zero? %>">
        <%= image_tag image.attachment(:product) %>
      </div>
    <% end %>
  </div>
</div>
