<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="page-title">
        <h2><%= product.name %></h2>
      </div>
    </div>
    <div class="col-xs-6">
      <ol class="breadcrumb pull-right">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li class="active"><%= product.name %></li>
      </ol>
    </div>
  </div>
</div>
