<div class="clearfix">
  <div id="thumbcarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <% images.each_with_index do |image, index| %>
        <div data-target="#carousel" data-slide-to="<%= index %>" class="thumb">
          <%= image_tag image.attachment(:small) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
