<%= provide(:title, full_title(@product.name)) %>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <%= render 'light_section', product: @product %>
</section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <%= render 'image', images: @images %>
            <%= render 'thumbnail', images: @images %>
          </div>
          <div class="media-body">
            <%= render 'description', product: @product %>
            <%= render 'cart_form', product: @product %>
            <%= render 'property', product_properties: @product_properties %>
          </div>
        </div>
      </div>
    </div>
    <div class="row productsContent">
      <%= render 'relation' %>
    </div>
  </div>
</section>

<%= render 'shared/product_modal' %>
